<% @contacts.each do |contact| %>
  <span class='contact'>
    <input type="checkbox" value="<%= contact.id %>" name="ids[]" id="contact_<%= contact.id %>" >
    <%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact, :format => :partial), {:class => "remote-show"} %>
  </span>
<% end %>
